@{
	import  (
		m "github.com/theplant/createreactappmanifest"
	)

	var mani *m.Manifest
	var content string
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My page</title>
    <link href="@mani.GetURL("main.css")" rel="stylesheet">
  </head>
  <body>
    @raw(content)
    <script type="text/javascript" src="@mani.GetURL("main.js")"></script>
  </body>
</html>

